*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;}
.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 15px;
    padding: 25px ;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    

}


.vl {
    border-left: 1px solid black;
    height: 40px;
    margin-top: 15px;
    padding-left: 20px;

  }
  .footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: rgb(0, 0, 0);
    border-top:1px solid black ;
    height: 100px;
    
}

 .footer ul{
    list-style: none;
    padding: 0;
 }
 .footer ul li{
    float: left;
    padding: 10px;
    
 }
 .footer ul li a{
    text-decoration: none;
    color: black;
 }
 .cp-text{ color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);}
 .card{
    
    border:none;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:blue;
}

section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f3f5fa;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: black;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  